.experienceTableHeadCard {
  padding: 41px 21px;

  h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;

    @media screen and (max-width: $tablet) {
      font-size: 26px;
    }
  }

  p {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media screen and (max-width: $tablet) {
      font-size: 16px;
    }
  }
}
