.projects{
    padding: 20px;
}

.projects_card_button{
    background: #bbbbbb;
    border: 1px outset #dadada;
    box-shadow: 1px 1px 0px black;
    padding: 5px;
    height: 20px;
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    outline: 0;
    font-size: 18px;
    padding: 20px;
}

@media(max-width:900px){
    .projects_card_button{
        font-size: 15px;
        padding: 10px;
    }
}

.projects_card_button:active{
    border: 1px inset #dadada;
}

.projects_buttons{
    display: flex;
    padding: 10px 0;
    gap: 10px;
}

.projects_card{
    width: 100%;
    box-shadow:   -10px 0 0 0 #682ae9,
                 10px 0 0 0 #682ae9,
                 0 -10px 0 0 #682ae9,
                 0 10px 0 0 #682ae9;
}

.projects_card_image{
    width: 100%;
}

.projects_card_image img{
    width: 100%;
}

.projects_card_content{
    padding: 10px;
}

.projects_card_text h1 {
    text-transform: lowercase;
}



.flex{
    display: flex;
    gap: 5px;
}