.music_container{
    padding: 20px;
}

.music_image{
    width: 100%;
    height: 220px;
    display: grid;
    place-content: center;
    position: relative;

}

.music_image .diskImage {
    width: 220px;
    height: 220px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 10px solid #682ae9;
}

.play{
    animation: rotate 10000s infinite forwards;
}

.pause{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: #682ae9;
    border: 0;
    display: grid;
    place-content: center;
    padding: 5px;
    outline: none;
    border-radius: 50%;
    border: 0;
}


@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(3123123deg);
    }
   
}

.music_list_item{
    display: flex;
    gap: 5px;
    border-bottom: 1px solid #682ae9;
    margin-bottom: 10px;
    align-items: center;
}

.music_list_item button {
    background-color: #682ae9;
    outline: none;
    border-radius: 50%;
    border: 0;
    height: 30px;
    width: 30px;
    padding: 5px;
    display: grid;
    place-content: center;
}

.bgcolor{
    background-color: #682ae9;
    color: white;
}