.about_list_item{
    width: 223px;
    height: 47px;
    background: #C4C4C4;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.about_list_item img{
    width: 40px;
}

.about_list_img{
    font-size: 30px;
    color: #682ae9;

}

.center{
    display: grid;
    place-content: center;
}



.tag{
    margin-left: -9px;
    color: #682ae9;
}

@media(max-width:900px){
    .center{
        display: block;
    }
}