.main_button{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    border: 0;
    outline: none;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
}

.main_button:active{
    box-shadow: inset -1px -1px #ffffff, inset -2px -2px #dfdfdf;
}

.main_button img {
    width: 91px;
    height: 91px;
}

@media(max-width:900px){
    .main_button img {
        width: 41px;
        height: 41px;
    }
}