.home {
  text-align: center;
  min-height: 100vh;
  overflow: hidden;

  &__main {
    display: grid;
    place-content: center;
    height: 100vh;
    // width: 100vw;
    overflow: hidden;
  }

  h1 {
    font-style: normal;
    font-size: 12.7vw;
    line-height: 88.6%;
    text-align: left;
    font-weight: bolder;
    margin-bottom: rem(20);
    font-family: var(--font-overpass);
  }

  h5 {
    font-style: normal;
    font-weight: normal;
    font-size: rem(16);
    line-height: rem(27);
    margin: 0;
    color: var(--text-gray);
  }

  @include breakpoint-down(medium) {
    h1 {
    //   font-size: rem(100);
    }

    &__main {
      display: block;
      height: 100vh;
      margin-top: 15vh;
    }
  }

  @include breakpoint-down(small) {
    h1 {
    //   font-size: rem(60);
    }
  }
}

.ticker__item {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: rem(1000);
}

.ticker__text {
  text-align: center;
  span {
    display: inline-block;
    background-color: var(--black);
    height: 20px;
    margin: 0 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
    top: 2px;
  }
}
