.blog {
  padding: 80px;

  @media screen and (max-width: $tablet) {
    padding: 50px 20px;
  }

  &__header {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;

    img {
      @media screen and (max-width: $tablet) {
        width: 32px;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: -5px;
    grid-row-gap: 20px;

    @media screen and (max-width: $mobile) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.blogCard {
  width: clamp(20.125rem, 22.25vw + 11.969rem, 40.063rem);
  height: clamp(20rem, 14.773vw + 16.676rem, 28.125rem);
  overflow: hidden;
  border-radius: 2px;
  border: 4px solid #000;
  background: var(--White, #fff);
  box-shadow: 11.465px 11.465px 0px 0px #bfbfb4;
  padding: clamp(1.25rem, 2.273vw + 0.739rem, 2.5rem);

  @media screen and (max-width: $mobile) {
    width: 100%;
  }

  &.rl {
    rotate: 2deg;
  }

  &.rr {
    rotate: -2deg;
  }

  &__image {
    width: 100%;
    height: clamp(10.813rem, 4.75vw + 7.719rem, 18.375rem);
    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }

  &__title {
    font-size: clamp(1.25rem, 1.136vw + 0.994rem, 1.875rem);
    font-weight: 700;
    margin-top: 20px;
  }
}
