.about{
    padding: 20px 30px;
}

.about_heading{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
    
}

.about_image{
    width: 127px;
    height: 127px;
    border: 3px solid #C4C4C4;
    display: grid;
    place-content: center;
}

.about_image img{
    width: 108px;
    height: 108px;
}

.about_heading_content_img{
    width: 20px;
}

.about h4 {
    display: flex;
    align-items: flex-end;
    gap: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.about h1{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    display: flex;
    align-items: center;
    gap: 10px;
}

.button_resume{
    background: #bbbbbb;
    border: 1px outset #dadada;
    box-shadow: 1px 1px 0px black;
    padding: 5px;
    height: 20px;
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.button_resume:active{
    border: 1px inset #dadada;
}

.bat_img{
    position: relative;
    width: 50px;
    animation: run 20s infinite ;
}

@keyframes run {
    0% {
      margin-left: 0;
      -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    }
    10% {
        margin-left: 35%;
        
    }
    20% {
        margin-left: 60%;
    }
    30% {
        margin-left: 80%;
    }
    40%{
        margin-left: 96%;
    }
    50%{
        margin-right: -20%;
       
    }
    60%{
        margin-right: -50%;
        
    }
    70% {
        margin-right: -70%;
        
    }
    80% {
        margin-right: -80%;
        
    }
    90% {
        margin-right: 95%;
        
    }
    100% {
        margin-right: 0;
       
    }
  }

.about_programming_languages{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.about_experiences{
    display: flex ;
    gap: 10px;
    
}

.expreience-line{
    width: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    z-index: 223;
    background-color: white;
    border-bottom: 0.5px solid #682ae9;
    border-top: 0.5px solid #682ae9;
}


.experience-black-line{
    display: block;
    width: 2px;
    height: 100%;
    background-color:#682ae9;
}

.experience-text{
    padding: 10px;
    
}

.about_experiences:not(:last-child){
    border-bottom: 0.5px solid #682ae9;
}

.fun_fact_head{
    font-size: 72px;
    background: -webkit-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: color 2s infinite;
}

@keyframes color {
    0%{
        filter: invert(0); 
    }
    25%{
        filter: invert(70%);
    }
    50%{
        filter: invert(1);
    }
    100%{
        filter: invert(0);
    }
}





@media(max-width:900px){
    .experience_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .expreience-line{
        flex: 0.2;
    }
    .experience-text{
        flex: 2;
    }
}

.fun_heading{
    display: flex;
    gap: 10px;
    
}

.fun_heading img{
      transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
}

.fun_background{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fun_background p{
    font-size: 50px;
    padding: 20px;
    font-weight: bold;
    color: white;
}

.contact_head{
    display: flex;
    gap: 10px;
    
}
.contact_head h1{
    background: -webkit-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: color 2s infinite;
}

.contact_head img {
    width: 100px;
}

.contact_buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px ;

}

.contact_buttons img{
    width: 30px;
}


@media(max-width:748px){
    .fun_background p{
        font-size: 30px;
        padding: 20px;
        font-weight: bold;
        color: white;
    }
}