.modal{
    width: 60%;
    height: 500px;
    background-color: #FFFFFF;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


@media(max-width:900px){
    .modal{
        width: 90%;
        height: 80%;
    }
    .fulscreen{
        height: 90vh !important;
    }
}


.fulscreen{
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    display: block;
    position: absolute;
}

.showingModal{
    display: none;
}

.modal_head{
    width: 100%;
    height: 30px;
    background-color: #000080;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.modal_head h6{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.modal_buttons{
    display: flex;
    gap: 5px;
}
.modal_buttons button{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0;
    padding: 2px;
    display: grid;
    place-content: center;
    box-sizing: border-box;
    border: none;
    background: #c0c0c0;
    box-shadow: inset -1px -1px #0a0a0a, inset -2px -2px #808080;
    border-radius: 0;
    min-width: 23px;
    min-height: 23px;
    padding: 0 12px;
    cursor: pointer;
    outline: none;
}

.content{
    padding: 10px;
    overflow-y: scroll;
    height: 94%;
}


/* width */
.content::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  .content::-webkit-scrollbar-track {
    background: #D6D6D6; 
    
  }
   
  /* Handle */
  .content::-webkit-scrollbar-thumb {
    background: rgb(156, 156, 156); 
    height: 20px;
    box-shadow:  0 0 5px grey;
  }
  
  /* Handle on hover */
  .content::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }