.wallapper_buttons{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.wallapper_button{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.wallapper_button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.img_tick{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    right: 4px;
}

.wallpapers{
    padding: 20px;
}