/* box-shadow: inset -1px -1px #0a0a0a, inset -2px -2px #808080; */

.startMenu{
    width: 100%;
    background: #BFBFBF;
    height: 41px;
    padding: 0 5px;
    position: absolute;
    bottom: 0;
    
}

.startMenu button {
    height: 41px;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
    border: 0;
    outline: none;
}

.startMenu button:active img{
    box-shadow: inset -1px -1px #ffffff, inset -2px -2px #dfdfdf;
}

.opener{
    position: absolute;
    bottom: 40px;
    background: #BFBFBF;
    left: 0;
    padding: 5px;
    gap: 10px;
    box-shadow: inset -1px -1px #0a0a0a, inset -2px -2px #808080;
    display: none;
}

.open{
    display: flex;
}

.opener-text{
    background: #000080;
    width: 46px;
    
}

.opener_P{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    transform: rotate(-90deg);
    position: relative;
    top: 200px;
}

.openerMenu{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.startMenu_button{
    display: flex;
    gap: 10px;
    align-items: center;
}

.startMenu_button:active{
    box-shadow: inset -1px -1px #ffffff, inset -2px -2px #dfdfdf;
}

.startMenu_button img{
    width: 34px;
    height: 34px;
}

.startMenu_button img:active{
    box-shadow: none
}

.line{
    box-shadow: inset 30px 30px 60px #a7a7a7,
            inset -30px -30px 60px #e1e1e1;
    width: 100%;
    height: 2px;
    border-radius: 10px;    
    background: #C4C4C4;
}

.backdrop{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 0;
}