@import '../util';

body{
	overflow-x: hidden;
}

.main__app__container{
	width: 70vw;
	margin: 0 auto;
}

.content{
	// width: 60vw;	
	margin: 0 auto;
}


@include breakpoint-down(small) {
	.main__app__container{
		width: 90vw;
	}

	.main__app__container{
		width: 90vw;
		
	}
}

@include breakpoint-down(medium) {
	.main__app__container{
		width: 90vw;
	}
}